.container{
    width: 100%;
    height: auto;
    display: flex;
}

.contents{
    margin-left: 80px;
    margin-top: 20px;
}
.logo{
  width: 100%;
  height: auto
}

.text{
  height: auto;
  width: 100%;

}

.hemant{
    width: 100%;
    height: auto;
}
