.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    align-content: center;
}

.contents{
}
.logo{
  width: 100%;
  height: auto;
  margin-left: 20px;
}

.text{
  height: auto;
  width: 100%;
  margin-left: 30px;

}

.hemant{
    width: 100%;
    height: auto;
    margin-left: 30px;
}

@media(max-width:400px){
  .logo{
    width: 60%;
  }
}
@media(max-width:400px){
  .text{
    width: 60%;
  }
}

@media(max-width:400px){
  .hemant{
    width: 60%;
  }
}