body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

.title{
font-weight: lighter;
}

.logo-container{
    display: flex;
    justify-content: center;
}

.jh{
    width: 90px;
}

.digital{
    width: 100px;   
}

.nav-container{
  display: flex;
  float: left;
}

li{
  float: left
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

li a:hover{
  background-color: rgb(238, 241, 49);
  color: black;
  cursor: pointer;
  transition: 300ms;
}

.banner-image{
  width: 100%

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #015ac6;
  }


.logo-div{
  margin-right: 150px;
}

.degs-text-div{
  margin-right: 90px;
}

.about-container{
  background-color: blue;
  width: 100vw;
  height: 200px;
  color: white;
  justify-content: center;
  text-align: center;
}

.about-us{
  padding-top: 70px;
}

h4{
  color: rgb(45, 11, 197);
  margin:0;
  margin-top: 4px;
}
 
.course-div{
  display: flex;
  justify-content: center;
  text-align: center;
}

.course1{
background-color: rgb(232, 134, 134);
height: 60px;
width: 100px;
padding:10px;
padding-top: 60px;
margin-right: 10px;
border-radius:10px;
}


.course2{
background-color: rgb(128, 229, 128);
height: 60px;
width: 100px;
padding:10px;
padding-top: 60px;
margin-right: 10px;
border-radius:10px;
}


.course3{
background-color: rgb(151, 151, 233);
height: 60px;
width: 100px;
padding:10px;
padding-top: 60px;
margin-right: 10px;
border-radius:10px;
}


.course4{
background-color: rgb(237, 110, 237);
height: 60px;
width: 100px;
padding:10px;
padding-top: 60px;
margin-right: 10px;
border-radius:10px;
}

.img-galary{
  display: flex;
}

.img1{
  width: 300px;
  height: 
  background-color:red;
}

.marquee{
  border: 2px solid rgb(214, 209, 209);
  display: flex;
  background-color: rgb(219, 235, 91);
  height: 28px;
}

.marquee-note{
  width: 180px;
  height:28px;
  background-color: rgb(6, 234, 200);
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.mobile-number{
  text-align: center;
  font-size: 2rem;
  color: blueviolet;
}


.collapsible{
  background-color: #fa7878;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 18px;
  width: 
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius:10px
}

.active, .collapsible:hover {
  background-color: #09d14f;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}